* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--light-grey: #f1f1f1;
	--dark-grey: #333;
	--padding: 1rem;
}

body {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
	display: grid;
	grid-template-columns: 1fr 4fr;
	min-height: 100vh;
}

.sidebar-container {
	background-color: var(--dark-grey);
	color: var(--light-grey);
	padding: var(--padding);
}

.books-container {
	background-color: var(--light-grey);
	color: var(--dark-grey);
}

#dialog {
	background-color: var(--dark-grey);
	color: var(--light-grey);
	padding: var(--padding);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.form-elements {
	margin-bottom: var(--padding);
	display: flex;
	flex-direction: column;
}

#read {
	display: flex;
	flex-direction: row;
	gap: var(--padding);
}
